<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DH.NCore" version="4.15.2025.1106-beta0249" targetFramework="net471" />
  <package id="ExcelDataReader" version="3.8.0" targetFramework="net471" />
  <package id="ExcelDataReader.DataSet" version="3.8.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="10.0.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net471" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net471" />
  <package id="System.Memory" version="4.6.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net471" />
</packages>